.container{
    /* border: solid 2px red; */
    height: 100%;
    width: calc(100% - 10vh);
    margin: 5vh;
}

.container_for_button{
    /* border: solid 5px red; */
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99;
}